.nitric/

# Ignore IDE files
.idea/
.settings/
.vscode/
.classpath
.project

common/.settings/
common/target/
common/.classpath
common/.project

functions/create/.settings/
functions/create/target/
functions/create/.classpath
functions/create/.project
functions/create/dependency-reduced-pom.xml

functions/list/.settings/
functions/list/target/
functions/list/.classpath
functions/list/.project
functions/list/dependency-reduced-pom.xml

functions/read/.settings/
functions/read/target/
functions/read/.classpath
functions/read/.project
functions/read/dependency-reduced-pom.xml